div.canvas {
  background-image: url(../img/wheel_back.png);
  background-position: center;
  background-repeat: none;
  background-size: 80%;
  background-repeat: no-repeat;
}

div.canvas_logo {
  background-image: url(../img/logo_without_title.png);
  background-position: center;
  background-repeat: none;
  background-size: 23%;
  background-repeat: no-repeat;
}
